</style>

<body>
    <h2 class="title">Sign Up Here</h2>

    <div class="logo">
        <img src="" alt="Logo Image">
    </div>
    <div>
        <form action="" method="post" class="form-center">
            <div>
                <div class="input-data">
                    UserName: <input type="text" name="" id="" placeholder="UserName">
                </div>
                <div>
                    Email:<input type="email" name="" id="" placeholder="Email">
                </div>
                <div>
                    Password: <input type="password" name="" id="" placeholder="Password">
                </div>
                <div>
                    Role: <input type="radio" name="role" id="">Service Provider <input type="radio" name="role"
                        id="">User
                </div>

                <div>
                    City: <select name="city" id="">
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Gandhinagar">Gandhinagar</option>
                        <option value="Surat">Surat</option>
                        <option value="Rajkot">Rajkot</option>
                    </select>
                </div>

                <div>
                    Mobile Number: <input type="tel" name="phoneNumber" id="" placeholder="PhoneNumber">
                </div>
            </div>

            <div>
                I agree to the T&C. <input type="checkbox" name="" id="" checked>
            </div>
            <div>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
    </div>


</body>

</html>