<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body>
    <div>
        <form action="saveUser" method="post">
            <div>
                FirstName: <input type="text" name="firstName" id="">
            </div>
            
            <div>
                Email: <input type="email" name="email" id="">
            </div>

            <div>
                Password: <input type="password" name="password" id="">
            </div>

            <div>
                <input type="submit" value="Signup">
            </div>
        </form>

        <!-- <form action="" method="post" class="form-center">
            <div>
                <div class="input-data">
                    UserName: <input type="text" name="userName" id="" placeholder="UserName">
                </div>
                <div>
                    Email:<input type="email" name="email" id="" placeholder="Email">
                </div>
                <div>
                    Password: <input type="password" name="password" id="" placeholder="Password">
                </div>
                <div>
                    Role: <input type="radio" name="ServiceProvider" id="role">Service Provider <input type="radio" name="User"
                        id="role">User
                </div>

                <div>
                    City: <select name="city" id="">
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Gandhinagar">Gandhinagar</option>
                        <option value="Surat">Surat</option>
                        <option value="Rajkot">Rajkot</option>
                    </select>
                </div>

                <div>
                    Mobile Number: <input type="tel" name="phoneNumber" id="" placeholder="PhoneNumber">
                </div>
            </div>

            <div>
                I agree to the T&C. <input type="checkbox" name="" id="" checked>
            </div>
            <div>
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form> -->
    </div>
</body>
</html>